@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

html {
  background-color: #10112b;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  width: 400px;
  background: #232551;
  border: 2px solid darkgray;
}

.display {
  height: 25%;
  background-color:#10112b;
  color: white;
  padding: 0px 10px;
}

.display-sub,
.display-main {
  display: flex;
  justify-content: end;
  align-items: end;
}


.display-sub {
  height: 30%;
  color: darkgray;
}

.display-main {
  height: 70%;
  font-size: 4em;
  text-shadow: 0px 0px 60px rgb(225, 159, 255)
  
}

.all-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
  font-size: 1.5rem;
}

.all-buttons .btn {
  display: flex;
  box-sizing: border-box;
  border-radius: 35%;
  margin: 8px;
  height: 68px;
  justify-content: center;
  align-items: center;
  opacity: 85%;
  transition: opacity 100ms;
  transition: background-color 200ms;
  
}

.all-buttons .btn:hover {
  opacity: 100%;
  border: 2px solid #a9a9a9;
}

.btn.number.activated {
  background-color: #a97efe;
  opacity: 100%;
  transition: all 50ms;
}

.btn.operator.activated,
.btn.btn-equals.activated {
  background-color: #c78092;
  opacity: 100%;
  
  
}

.all-buttons .number.btn-0 {
  grid-column: 1 / span 2;
}

.footer {
  justify-self: end;
}

.btn.number,
.btn.btn-decimal {
  background-color: #8447FF;
}

.btn.operator.is-pressed {
  background-color: #c43559;
  opacity: 100%;
}

.btn.misc {
  background-color: #A9A9A9;
}

span.btn.operator,
span.btn.btn-equals {
  background-color: #AF1B3F;
  font-size: 2rem;
  padding-bottom: 4px;
}

.legend {
  font-size: 1.25rem;
  background-color: #232551;
  padding: 10px;
  margin: 10px;
  border: 2px solid darkgray;
  color: gray;
}

.legend span {
  padding: 3px 15px;
  margin-bottom: 10px;
  opacity: 85%;
}

.legend .key {
  background-color: darkgray;
  color: black;
  border-radius: 8%;
}

.legend span.button {
  background-color: #AF1B3F;
  color: black;
  border-radius: 35%;
}

